@page
@inject ChannelManager channelManager
@model IndexModel
@{
    ViewData["Title"] = "Expert Price Crawler";
}

<style>
    #email-checkbox:not(:checked) ~ #email-address-input {
        display: none;
    }
</style>

<div>
    <h1 class="display-4 text-center">Expert Price Crawler</h1>
    <form class="w-50 mx-auto" method="post">
        <div class="form-group">
            <label for="productUrl">
                Expert Produkt Url
            </label>
            <input asp-for="CrawlJobPost.Url" id="productUrl" class="form-control" type="text" placeholder="z.B. https://www.expert.de/shop/unsere-produkte/haushalt-kuche/staubsauger/bodenstaubsauger/36218064010-bgl75ac342-bodenstaubsauger.html" pattern="https:\/\/www\.expert\.de\/.*\/\d+.+\.html.*" required />
        </div>
        <div class="form-group">
            <div class="my-3">
                <input class="form-check-input" type="checkbox" value="" id="email-checkbox">
                <label class="form-check-label" for="email-checkbox">
                    Ergebnisse per Email versenden
                </label>
                <div id="email-address-input">
                    <label for="emailaddress">
                        Email-Adresse
                    </label>
                    <input asp-for="CrawlJobPost.EmailAddress" id="emailaddress" class="form-control" placeholder="Optional, für Versand der Ergebnisse" type="email" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Günstigsten Preis finden</button>
        </div>
    </form>
    @if(channelManager.JobCount >= 10)
    {
        <p>
            <strong>Die Warteschlange ist derzeit sehr voll. Bitte nutze doch auch die Konsolenanwendung des Crawlers. Mit dieser kannst du die Preise schnell auf deinem eigenen Rechner finden ohne Wartezeit.</strong>
            <a href="https://github.com/awinnen/ExpertPriceCrawler">Klicke hier für mehr Informationen</a>
        </p>
    }
</div>
<br />
@{
    await Html.RenderPartialAsync("_RecentlyCrawled");
}
