@page
@model IndexModel
@{
    ViewData["Title"] = "Expert Price Crawler";
}

<div>
    <h1 class="display-4 text-center">Expert Price Crawler</h1>
    <form class="w-50 mx-auto" method="post">
        <div class="form-group">
            <label for="productUrl">
                Expert Produkt Url
            </label>
            <input asp-for="CrawlJobPost.Url" class="form-control" type="text" pattern="https:\/\/www\.expert\.de\/.*\/\d+.+\.html.*" required />
        </div>
        <div class="form-group">
            <label for="productUrl">
                Email-Adresse (für Versand der Ergebnisse)
            </label>
            <input asp-for="CrawlJobPost.EmailAddress" class="form-control" type="email" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Günstigsten Preis finden</button>
        </div>
    </form>
</div>
<br />
@{
    await Html.RenderPartialAsync("_RecentlyCrawled");
}
