@page
@model IndexModel
@{
    ViewData["Title"] = "Expert Price Crawler";
}

<div class="text-center">
    <h1 class="display-4">Expert Price Crawler</h1>
    <form method="post">
        <div class="form-group">
            <label for="productUrl">
                Expert Produkt Url
            </label>
            <input asp-for="CrawlJob.Url" class="form-control" type="text" pattern="https:\/\/www\.expert\.de\/.*" required />
        </div>
        <div class="form-group">
            <label for="productUrl">
                Email-Adresse
            </label>
            <input asp-for="CrawlJob.EmailAddress" class="form-control" type="email" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Günstigsten Preis finden</button>
        </div>
    </form>
</div>
