@page
@model ExpertPriceCrawler.Web.Pages.QueueModel
@{
}

<div>
    @if (Model.JobIdPresent && !Model.JobCompleted)
    {
        <h1>Anfrage registriert!</h1>
        @if (Model.JobCount == 0)
        {
            <div>Dein Auftrag wird nun bearbeitet</div>
        }
        else
        {
            <div>Deine Anfrage wurde der Warteschlange hinzugefügt.</div>
            <div>Derzeit sind @Model.JobCount Aufträge in der Warteschlange</div>
        }
        <div>
            <p>Sobald das Ergebnis vorliegt, senden wir dir eine Email. Aktuell beträgt die Wartezeit in etwa @((int)Model.EstimatedWaitingTime.TotalMinutes) Minuten</p>
            <p>Bitte auch den SPAM-Ordner prüfen!</p>
        </div>
    }
    else if(Model.JobIdPresent)
    {
        <h1>Deine Anfrage wurde bearbeitet.</h1>
        <p>Bitte prüfe deine Emails oder such dein Ergebnis in der Tabelle weiter unten.</p>
    }
</div>
<br />
@{
    await Html.RenderPartialAsync("_RecentlyCrawled");
}
