html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

    body:not(.loading) #spinner {
        display: none;
    }

    body.loading #spinner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 100vh;
        width: 100vw;
    }

#statuslog {
    height: 300px;
    overflow-y: auto;
    background-color: black;
    color: white;
    font-family: Consolas;
    text-align: left;
    margin: 20px 0;
}